<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>🍽 SK Hynix Menu Agent</title>

    <link rel="stylesheet" href="/static/chat.css">

</head>

<body>

<div class="container">

    <header>

        <h1>🍽 SK 하-잇(Hy-Eat)v0.3</h1>

        <p>
            오늘 뭐 먹지? 자연스럽게 물어보세요.
        </p>

    </header>

    <main id="chat-box">

        <div class="bot-message">

            안녕하세요 👋<br><br>

            아래처럼 입력해보세요.
            
            <br><br>

            ✔ 이천 SKY 점심

            <br>

            ✔ 내일 1캠퍼스 저녁

            <br><br>

            메뉴를 보고, 추천받아보세요!

            <br>

            ✔ 오늘 뭐 먹지?

            <br>

            ✔ 평점 높은 메뉴 추천

        </div>

    </main>

    <footer>

        <input
            id="message-input"
            type="text"
            placeholder="메뉴를 물어보세요..." />

        <button id="send-btn">

            전송

        </button>

    </footer>

</div>

<script src="/static/chat.js"></script>

</body>

</html>